SD_ENV=local
AIRFLOW_CONN_S3STAGE={"aws_access_key_id":"YOUR_KEY", "aws_secret_access_key": "YOUR_TOKEN"}
#OPTIONAL
SD_DEST_S3_BUCKET_PROD=datasd-prod
SD_DEST_S3_BUCKET_LOCAL=datasd-proto-stage
SD_S3_DEFAULT_CONN_ID_PROD=S3PROD
SD_S3_DEFAULT_CONN_ID_LOCAL=S3STAGE
